.card {
  margin: 15px;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}

.card:hover {
  background-color: #d4d1f1;
}

.card .card-img-top {
  max-height: 420px;
}

.btn {
  text-transform: capitalize;
}

.btn:focus {
  box-shadow: none;
}