/* product common styles */
.card-text {
  margin-bottom: 8px;
}

.card-price {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #7765ff;
}

.card-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.card-amount .form-control {
  width: 90px;
  font-size: 12px;
  font-weight: 500;
  color: #7765ff;
}

/* form common styles */
.form-label {
  margin-bottom: 0;
  margin-right: 10px;
  text-transform: capitalize;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

/* buttons common styles */
.btn {
  width: 90px;
  font-size: 12px;
  text-transform: capitalize;
}

.btn:focus {
  box-shadow: none;
}

.btn:disabled {
  pointer-events: unset;
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-back {
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
  color: #7765ff;
  text-transform: capitalize;
}

.error-msg {
  font-size: 12px;
  color: #d82e2e;
  text-transform: capitalize;
}